In [ ]:
# list is mutable Data type
# it is Represented by Square Brackets []
# list can Accept Any Data type

In [1]:
a=[10,45,67]   # save in memory
print(a)    # calling the function

[10, 45, 67]

In [11]:
Mylist=[12,14,16,17,19,21,'hai']
print(type(Mylist))
print(Mylist)

<class 'list'>
[12, 14, 16, 17, 19, 21, 'hai']

In [2]:
x=[150,255.67,'data Analysis']
print(x)

[150, 255.67, 'data Analysis']

In [7]:
x=[150,255.67,'data Analysis']
print(x)
print(type(x))

[150, 255.67, 'data Analysis']
<class 'list'>

In [8]:
numbers=[1,10,20,4,15,67]
print(numbers[4])
print(numbers[2])

15
20

In [9]:
numbers=[1,10,20,4,15,67]
print(numbers[-3])
print(numbers[-1])

4
67

In [10]:
course=['python','powerbi','sql']
print(course[:])

['python', 'powerbi', 'sql']

In [13]:
course=['python','powerbi','sql']
print(course[1:10])

['powerbi', 'sql']

In [16]:
P=[1,5,235.67,3,6,'sql','Tableau']
print(P[4])

6

In [17]:
print(P[6])

Tableau

In [18]:
print(P[-5])

235.67

In [1]:
#append function only one values add

R=[1,5,2,5,10,11]
R.append(150)
print(R)

[1, 5, 2, 5, 10, 11, 150]

In [2]:
values=[100,350.56,2,5,'sql','python']
values.append('powerbi')
print(values)

[100, 350.56, 2, 5, 'sql', 'python', 'powerbi']

In [4]:
# extend function multiple values

values=[10,40,60,80,100,235.56,145.45,'machine learing','computer vision']
values.extend(['power bi','sql','python','Excel'])
print(values)

[10, 40, 60, 80, 100, 235.56, 145.45, 'machine learing', 'computer vision', 'power bi', 'sql', 'python', 'Excel']

In [6]:
Q=[1,5,2,5,10,11,13,15,18,20,123.45]
Q.extend(['Tableau','Statistics'])
print(Q)

[1, 5, 2, 5, 10, 11, 13, 15, 18, 20, 123.45, 'Tableau', 'Statistics']

In [7]:
# insert

int=[1,3,5,7,11,13,17,19,23,26]

int.insert(3,'satish')
print(int)

[1, 3, 5, 'satish', 7, 11, 13, 17, 19, 23, 26]

In [8]:
# pop
int=[1,3,5,7,11,13,17,19,23,26]

int.pop()
print(int)

[1, 3, 5, 7, 11, 13, 17, 19, 23]

In [10]:
# copy
a=[100,200,150,160,250,'sql',234.45]
b=a.copy()

print(a)
print(b)

[100, 200, 150, 160, 250, 'sql', 234.45]
[100, 200, 150, 160, 250, 'sql', 234.45]

In [12]:
# count

N=[1,3,5,8,10,11,3,23,45,2,6,8,3]
print(N.count(3))

3

In [20]:
# index
P=[1,3,5,8,10,11,3,23,45,2,6,8,3]
print(P.index(5))

2

In [15]:
# clear 

M=[1,2,3,4,5,6,11,13,15]
M.clear()
print(M)

[]

In [16]:
mylist=[150,234.56,'sql','machine learing']
mylist.clear()
print(mylist)

[]

In [17]:
# sort
c=  [1,6,4,2,78,44,21,97,45]
print(c)

[1, 6, 4, 2, 78, 44, 21, 97, 45]

In [21]:
c=  [1,6,4,2,78,44,21,97,45]
c.reverse()
print(c)

[45, 97, 21, 44, 78, 2, 4, 6, 1]

In [24]:
# remove

a = [10,11,12,13]

a.remove(12)  # 12 will be removed

print(a)

[10, 11, 13]

In [3]:
list=[10,70,30,40,50]
print(list[:])

[10, 70, 30, 40, 50]

In [5]:
list=[10,70,30,40,50]
print(list[::2])

[10, 30, 50]

In [7]:
list=[10,70,30,40,50,100]
print(list[::-2])

[100, 40, 70]